@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
/*Global*/

:root {
    --primary-color: #292929;
    --secondary-color: #70f7a4;
    --tertiary-color: #f3f3f3;
}
/*Lets just do sticky nav on top if we can*/
* {
    margin: 0;
    padding: 0;
}

img {
    width: 600px;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    display: inline;
    padding: 10px;
}

p {
    line-height: 1.6em;
}



