@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*Global*/
:root{
    --accent-color: #66FF7D;
    --dark-color: #222629;
    --middle-color: #474B4f;
    --light-color: #6b6e70;
}
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Rubik', sans-serif;
    line-height: 1.8;
    background-color: var(--dark-color);
    
}
ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

#hero {
    min-width: 900px;
}

#hero img{
    display: block;
    padding: 0;
    margin: 0 auto;
    max-height: 100%;
    width: 100%;
    border-bottom: 10px var(--dark-color) solid;
    border-left: 10px var(--dark-color) solid;
    border-right: 10px var(--dark-color) solid;
}

/*navbar*/

.navbar{
    background-color:var(--dark-color);
    color: #fff;
    height: 100px;
}

.navbar .flex{
    justify-content: center;
}
.navbar ul{
    display: inline;
    width: 100%;
    padding: 10px;
    margin: 20px ;
}

.navbar a {
    color: #fff;
    padding: 20px;
    margin: 0 5px;
    
}

.navbar a:hover {
    background-color: var(--accent-color);
    color: var(--dark-color);

}

.hero img {
    width: 100%;
}
